img.roundedx{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.v-space{
  margin-top: 80px;
}

.person a{
  color: inherit;
  text-decoration: none;
}

.available{
  color: teal;
}
