<div class="person">
  <div class="row">
    <a href="person.html">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 text-center">
              <img src="http://documentally.com/wp-content/uploads/2011/12/6466311231_985f4e2e3a_o.jpg" class="roundedx">
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-9">
                  <h5 class="card-title">I'm the greatest hacker ever</h5>
                </div>

                <div class="col-md-3 available">
                  <i class="bi-check-circle-fill"></i>
                  Available
                </div>
              </div>
              <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
