---
layout: default
---

<div class="container-fluid">
  <div class="col-md-6 offset-md-3">
    {% include_relative _person.html %}
    {% include_relative _person.html %}
    {% include_relative _person.html %}
    {% include_relative _person.html %}
    {% include_relative _person.html %}
  </div>
</div>

<div class="paginate mt-4">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">40</a></li>
      <li class="page-item"><a class="page-link" href="#">41</a></li>
      <li class="page-item active"><a class="page-link" href="#">42</a></li>
      <li class="page-item"><a class="page-link" href="#">43</a></li>
      <li class="page-item"><a class="page-link" href="#">44</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
