---
layout: default
---

<div class="container-fluid">
  <div class="col-md-8 offset-md-2">
    <div class="card p-4">
      <h4 class="card-title">Special title treatment</h4>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8 mb-4">
            <div class="mt-3"></div>

            <p class="card-text">
              With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.
            </p>

            <p class="card-text">
              With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.
            </p>

            <p class="card-text">
              With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.
            </p>

            <p class="card-text">
              With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.
            </p>

            <p class="card-text">
              With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.
            </p>

            <p class="card-text">
              With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.
            </p>
          </div>

          <div class="col-md-4">
            <div class="text-center">
              <img src="http://documentally.com/wp-content/uploads/2011/12/6466311231_985f4e2e3a_o.jpg" class="roundedx">

              <h5 class="mt-2">Richard Stallman</h5>

              <div class="available">
                <i class="bi-check-circle-fill"></i>
                Available
              </div>

              <div>
                <i class="bi-building"></i>
                Commute
                <br/>

                <i class="bi-geo-alt"></i>
                Remote
                <br/>

                <i class="bi-clock"></i>
                Full time
                <br/>

                <i class="bi-hourglass-split"></i>
                Part time
                <br/>
              </div>
            </div>

            <ul class="list-group list-group-flush mt-3">
              <li class="list-group-item">
                <b>Skills.</b>
              </li>
              <li class="list-group-item">
                1. Lisp
              </li>
              <li class="list-group-item">
                2. Emacs
              </li>
              <li class="list-group-item">
                3. GNU HURD
              </li>
            </ul>

            <ul class="list-group list-group-flush mt-3">
              <li class="list-group-item">
                <b>Info.</b>
              </li>
              <li class="list-group-item">
                <i class="bi-geo-alt"></i>
                Newyork, USA
              </li>
              <li class="list-group-item">
                <i class="bi-telephone"></i>
                +1 234 567 89
              </li>
              <li class="list-group-item">
                <i class="bi-envelope"></i>
                rms@stallman.org
              </li>
              <li class="list-group-item">
                <i class="bi-globe"></i>
                Website
              </li>
              <li class="list-group-item">
                <i class="bi-github"></i>
                Github
              </li>
              <li class="list-group-item">
                <i class="bi-globe"></i>
                Gitlab
              </li>
              <li class="list-group-item">
                <i class="bi-linkedin"></i>
                Linkedin
              </li>
              <li class="list-group-item">
                <i class="bi-twitter"></i>
                @stallman
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
