---
layout: default
---

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2 mb-4">
      <h1>A</h1>
      <hr/>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-8 offset-md-2 mb-4">
      <h1>B</h1>
      <hr/>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
            <li>
              Skill
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
