<nav class="navbar navbar-expand-lg navbar-light bg-light  fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Devlist</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/skills.html">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/skills.html">Available Now</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/skills.html">Soon Available</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/skills.html">Busy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/skills.html">Locations</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="v-space">
</div>
